/*reset CSS*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*요소의 너비와 높이를 균일하게 유지해주는 속성*/
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color:#000;
}
img{
    max-width: 100%;
    height:auto;
}